<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>

{{# if booleanTest }}
    The thing is doing the thing
{{ else }}
    The thing is not doing the thing because the variable is false
{{/if}}

<br>

{{# each cheeseArray as |val key|}}
    {{ key }}: {{ val }} <br>
{{/each}}

<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button>Submit</button>
</form>